h1 Login with Twitter
#twitter-login
  a(href="/auth", title="Login with Twitter")
    img(src="/images/sign-in-with-twitter-l.png")
h2 Node OAuth Echo Demo
.description Sample application code for providing TwitPic / Plixi / YFrog style OAuth Echo enabled services using Node.js.
