h1 OAuth Echo Consumer Status
#twitter-user
  - if (user)
    form(id="chatform")
      label#username= user.username
      span : 
      input(type="text", id="message", tabindex="1", placeholder="message")
      input(type="submit")
h2 Node OAuth Echo Demo
.description Sample application code for providing TwitPic / Plixi / YFrog style OAuth Echo enabled services using Node.js.
