/*
  Style partially poached from expressjs.com. Thanks TJ.
*/

body {
  margin: 2em;
  padding: 2em 2em 4em;
  font: 14px/1.4 "Helvetica Neue", "Lucida Grande", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #22252A;
  color: #8b8b8b;
  /*border: 1px solid #e5e5e5;*/
}

a {
  font-weight: bold;
  text-decoration: none;
  color: white;
  opacity: 0.8;
  -webkit-transition-property: opacity, -webkit-transform, color, background-color, padding, -webkit-box-shadow;
  -webkit-transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out; }

a:hover { opacity: 1; }

a img { border: none !important }

code { font-family: monospace }

em { color: white }

h1, h2, h3, h4 {
  margin: 45px 0 0 0;
  color: white;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.6); }

h3 {
  font-size: 18px; }
h4 {
  margin-left: 10px;
  font-size: 14px;
}

ul {
  margin: 15px 0;
  padding: 0 0 0 35px; }

ul li {
  margin: 0;
  padding: 2px 0;
  list-style: square;
}

ul li ul {
  margin: 0;
  padding-left: 12px;
}

pre {
  margin: 20px 10px;
  padding: 25px 20px;
  background: rgba(0,0,0,0.5);
  border: 1px solid #323232;
  -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.6);
  -moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.6);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}


#twitter-login,
#twitter-user {
  margin: 2em
}